users.json
.streamlit/secrets.toml
tmdb_5000_movies.csv
tmdb_5000_credits.csv
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.Python
build/
dist/
venv/
.venv/
env/
ENV/
.streamlit/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
.ipynb_checkpoints/
similarity.pkl
